# Nome do workflow (aparecerá na aba Actions)
name: CI Simples

# Eventos que disparam o workflow
on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixar o código do repositório
      - name: Checkout do repositório
        uses: actions/checkout@v4

      # 2. Testar execução do CI
      - name: Teste de funcionamento
        run: echo "Pipeline do projeto INPE executado com sucesso!"
